<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Albums</h3>
	</div>
	<table class="table table-condensed table-striped table-hover">
		<tbody>
			{{#albums}}
			<tr class="album" data-album="{{title}}">
				<td>{{title}}</td>
				<td>
					<div class="btn-group">
						<button class="btn btn-default btn-xs add-to-queue" data-album="{{title}}"><span class="glyphicon glyphicon-plus"></span></button>
					</div>
				</td>
			</tr>
			{{/albums}}
		</tbody>
	</table>
</div>
