<div class="btn-group navbar-form navbar-right">
	<button type="button"
		id="minicontrol-previous"
		class="btn btn-default">
		<span class="glyphicon glyphicon-fast-backward"></span>
	</button>
	<button type="button"
		id="minicontrol-playpause"
		class="btn btn-primary">
		<span class="glyphicon glyphicon-play"></span>
	</button>
	<button type="button"
		id="minicontrol-next"
		class="btn btn-default">
		<span class="glyphicon glyphicon-fast-forward">
	</button>
</div>

<div class="btn-group navbar-form navbar-right">
	<button type="button"
		id="minicontrol-repeat"
		class="btn btn-default"
		data-toggle="tooltip"
		data-placement="bottom"
		title="Repeat">
		<span class="glyphicon glyphicon-repeat"></span>
	</button>
	<button type="button"
		id="minicontrol-random"
		class="btn btn-default"
		data-toggle="tooltip"
		data-placement="bottom"
		title="Shuffle">
		<span class="glyphicon glyphicon-random"></span>
	</button>
</div>