<div id="currentsong" class="jumbotron">
	<h1>{{imprints.currentsong.Title}}</h1>
	<h2>
		<span id="nowplaying-artist-container" class="query-provider dropdown">
			<span>{{imprints.currentsong.Artist}}</span>
		</span>

		<span id="nowplaying-album-container">
			<small>{{imprints.currentsong.Album}}</small>
		</span>
	</h2>

	<div class="progress">
		<div class="progress-bar"
			role="progressbar"
			aria-valuenow="{{position_percent}}"
			aria-valuemin="0"
			aria-valuemax="100"
			style="width: {{position_percent}}%;"></div>
	</div>
</div>
