<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Queue</h3>
	</div>
	<div class="panel-body">
		<button type="button" class="btn btn-default" id="queue-clear" data-toggle="tooltip" data-placement="top" title="Clear Queue">
			<span class="glyphicon glyphicon-remove"></span> Clear
		</button>
	</div>
	<div class="list-group">
		{{#playlistinfo}}
		<a class="list-group-item {{#playing}}active{{/playing}}" href='#play:{{Pos}}' data-pos="{{Pos}}">
			<h4 class="list-group-item-heading">{{Title}}</h4>
			<p class="list-group-item-text">{{Artist}} - {{Album}}</p>
		</a>
		{{/playlistinfo}}
	</div>
</div>