<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Queue</h3>
	</div>

	<div class="panel-body">
		<button type="button" class="btn btn-default clear-queue" data-toggle="tooltip" data-placement="top" title="Clear Queue">
			<span class="glyphicon glyphicon-remove"></span> Clear
		</button>
		<button type="button" class="btn btn-default consume-queue {{#consume}}btn-primary{{/consume}}" data-toggle="tooltip" data-placement="top" title="Consume Queue">Consume</button>
		{{^imprints.playlistinfo.result}}
		<span class="empty">Queue empty</span>
		{{/imprints.playlistinfo.result}}
	</div>

	<table class="table table-condensed table-hover">
		<tbody>
			{{#imprints.playlistinfo.result}}
			<tr {{#playing}}class="active"{{/playing}}>
				<td>{{Title}}</td>
				<td>{{Artist}}</td>
				<td>{{Album}}</td>
				<td>
					<div class="btn-group">
<button class="btn btn-default btn-xs remove-from-queue" data-pos="{{Pos}}"><span class="glyphicon glyphicon-remove"></span></button>
{{#playing}}<button class="btn btn-default btn-xs btn-primary pause"><span class="glyphicon glyphicon-pause"></span></button>{{/playing}}
{{^playing}}<button class="btn btn-default btn-xs play-now" data-pos="{{Pos}}"><span class="glyphicon glyphicon-play"></span></button>{{/playing}}
					</div>
				</td>
			</tr>
			{{/imprints.playlistinfo.result}}
		</tbody>
	</table>

</div>
