{ erl_opts, [ debug_info ] }.

{ deps, [
	{ cowboy,     ".*", { git, "https://github.com/extend/cowboy.git",        { tag, "0.9.0" } } },
	{ mochijson2, ".*", { git, "https://github.com/bjnortier/mochijson2.git", "master" } },
	{ erlmpd,     ".*", { git, "https://github.com/Motiejus/erlmpd.git",      "master" } }
] }.

